# This .gitignore file should be placed at the root of your Unity project directory
#
# Get latest from https://github.com/github/gitignore/blob/main/Unity.gitignore
#
game/mountain/[Ll]ibrary/
game/mountain/[Tt]emp/
game/mountain/[Oo]bj/
game/mountain/[Bb]uild/
game/mountain/[Bb]uilds/
game/mountain/[Ll]ogs/
game/mountain/[Uu]ser[Ss]ettings/
game/mountain/[Mm]emoryCaptures/
game/mountain/[Rr]ecordings/
game/mountain/[Aa]ssets/Plugins/Editor/JetBrains*
.vs/
.gradle/
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.pidb.meta
*.pdb.meta
*.mdb.meta
sysinfo.txt
*.apk
*.aab
*.unitypackage
*.app
crashlytics-build.properties
game/mountain/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*
game/mountain/[Aa]ssets/[Ss]treamingAssets/aa.meta
game/mountain/[Aa]ssets/[Ss]treamingAssets/aa/*